@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.clickable {
  cursor: pointer;
}
/*  *******************************  FULLCALENDAR ************************************* */
.fc-day-today {
  background: #f5f2e4 !important;
}
.fc .fc-button-primary {
  background-color: #149fa9;
  font-size: 1rem;
}

.fc-daygrid-event {
  font-size: 1rem; /* Aumenta el tamaño del texto */
  padding: 8px; /* Aumenta el espacio interno */
}
